body {
    font-family: "Tektur", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: #1E1E1E;

}

.logo {
    text-align: center;
    font-weight: 700;
    font-size: 92px;
    color: #09080C;

}

header {
    margin-bottom: 50px;
}

section {
    margin-bottom: 100px;
}

.tiffany-blue-bg {
    background-color: #99E1D9;
}

.tickets::first-line {
    font-weight: 700;
}

.tickets {
    color: #31292F;
    font-size: 15px;
    font-weight: 400;
    line-height: 19.5px;
}

.press {
    font-size: 15px;
    font-weight: 700;
    line-height: 19.5px;
}

#news p {
    font-size: 15px;
    font-weight: 700;
    line-height: 19.5px;

}

#projects p {
    font-size: 16px;
    font-weight: 700;
    line-height: 20.8px;

}

#carouselHeader p {
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px;
}

.learn-more-btn {
    font-size: 15px;
    font-weight: 700;
    line-height: 19.5px;
    text-align: center;
    color: #31292F;
    background: #A8DFD9;
}

.learn-more-btn:hover {
    background: #A8DFD9;
}

.information {
    font-size: 15px;
    font-weight: 700;
    line-height: 19.5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
}

.information .btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.footer ul {
    list-style-type: none;
}

.footer li {
    font-size: 24px;
    font-weight: 700;
    line-height: 31.2px;
    color: #31292F;
}

.footer .col {
    margin-top: 80px;
}
